@model ControlEscuela.Web.Models.MateriasVm
@{
    ViewBag.Title = "Listado Asignaturas";
    ViewBag.TituloPagina = "Listado de Asignaturas";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            @using (Html.BeginForm("Listado", "Asignaturas", FormMethod.Get, new { @class = "form-horizontal" }))
            {
                <div class="card-header card-header-text" data-background-color="rose">
                    <h4 class="card-title">Filtros</h4>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.NombreBuscar, new { placeholder = "Nombre", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-rose btn-fill btn-wd">Buscar</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">assignment</i>
            </div>

            <div class="card-content">
                <h4 class="card-title">Listado Asignaturas</h4>
                <div class="text-left">
                    <button type="button" class="btn btn-success btn-fill btn-wd" data-toggle="modal" data-target="#myModal">Nueva</button>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>

                                <th>Nombre</th>
                                <th class="text-right"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Asignaturas)
                            {
                                <tr>

                                    <td>@item.Nombre</td>
                                    <td class="td-actions text-right">

                                        <button type="button" rel="tooltip" class="btn btn-success materiaEdit" title="Editar" data-codigo="@item.Codigo">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Classic Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    @{Html.RenderPartial("_FrmMateria", Model.AgregarEditarMateriaVm);}
</div>
<!--  End Modal -->



<input type="hidden" id="urlGetForm" value="@Url.Action("GetFormAsignatura","Asignaturas")" />

@section scripts
{
    <script>
        $(document).ready(function() {

            $(document).on("click",".materiaEdit", function(e) {
                e.preventDefault();
                swal({});
                swal.showLoading();

                var idAsignatura = $(this).data('codigo');

                var url = $("#urlGetForm").val();

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: { idAsignatura: idAsignatura },
                    success: function (data) {

                        $("#myModal").html(data.partial);
                        $("#myModal").modal("show");
                        swal.close();
                    },
                    error: function() {
                        swal("Oops!", "Al parecer ha ocurriodo un error", "error");
                    }
                });


            });
        });
    </script>
}
