@{
    ViewBag.Title = "Gestión Periodos/Eventos";
    ViewBag.TituloPagina = "Gestión Periodos/Eventos";
}

<div class="header text-center">
    <h3 class="title">Gestión de Periodos</h3>
   
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="card card-calendar">
            <div class="card-content" class="ps-child">
                <div id="fullCalendar"></div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            var $calendar = $('#fullCalendar');

            var today = new Date();
            var y = today.getFullYear();
            var m = today.getMonth();
            var d = today.getDate();

            $calendar.fullCalendar({
                viewRender: function(view, element) {
                    // We make sure that we activate the perfect scrollbar when the view isn't on Month
                    if (view.name != 'month') {
                        $(element).find('.fc-scroller').perfectScrollbar();
                    }
                },
                header: {
                    left: 'title',
                    center: 'month,agendaWeek,agendaDay',
                    right: 'prev,next,today'
                },
                defaultDate: today,
                selectable: true,
                selectHelper: true,
                views: {
                    month: { // name of view
                        titleFormat: 'MMMM YYYY'
                        // other view-specific options here
                    },
                    week: {
                        titleFormat: " MMMM D YYYY"
                    },
                    day: {
                        titleFormat: 'D MMM, YYYY'
                    }
                },

                select: function(start, end) {

                    // on select we show the Sweet Alert modal with an input
                    swal({
                        title: 'Crear Periodo/Evento',
                        html: '<div class="form-group">' +
                            '<input class="form-control" placeholder="Nombre Periodo/Evento" id="input-field">' +
                            '</div>',
                        showCancelButton: true,
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                        buttonsStyling: false
                    }).then(function(result) {

                        var eventData;
                        var event_title = $('#input-field').val();

                        if (event_title) {
                            eventData = {
                                title: event_title,
                                start: start,
                                end: end
                            };
                            $calendar.fullCalendar('renderEvent', eventData, true); // stick? = true
                        }

                        $calendar.fullCalendar('unselect');

                    });
                },
                editable: true,
                eventLimit: true
            });
        });
    </script>
}
