@{
    ViewBag.Title = "Listado Alumnos";
    ViewBag.TituloPagina = "Busqueda de Alumnos";
}

<div class="row">
<div class="col-md-12">
    <div class="card">
        <form method="get" action="/" class="form-horizontal">
            <div class="card-header card-header-text" data-background-color="rose">
                <h4 class="card-title">Filtros</h4>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="text" value="" placeholder="Nombre" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="text" value="" placeholder="NIE" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <select class="selectpicker" data-style="btn btn-primary btn-round" title="Single Select" data-size="7">
                            <option disabled selected>Seleccione un grado</option>
                            <option value="2">7º A</option>
                            <option value="3">5º B</option>
                            <option value="3">2º C</option>
                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-rose btn-fill btn-wd">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">assignment</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">Listado Alumnos</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            
                            <th>Nombre completo</th>
                            <th>Edad</th>
                            <th>NIE</th>
                            <th>Grado</th>
                            <th>Encargado</th>
                            <th>Teléfono Encargado</th>
                            <th class="text-right"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            
                            <td>Juan Perez</td>
                            <td>13</td>
                            <td>324455</td>
                            <td>7º B</td>
                            <td>Maria Perez</td>
                            <td>2278-8854</td>
                            <td class="td-actions text-right">
                                <button type="button" rel="tooltip" class="btn btn-info">
                                    <i class="material-icons">person</i>
                                </button>
                                <button type="button" rel="tooltip" class="btn btn-success">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button type="button" rel="tooltip" class="btn btn-danger">
                                    <i class="material-icons">close</i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            
                            <td>Maria Ochoa</td>
                            <td>11</td>
                            <td>765918</td>
                            <td>4º B</td>
                            <td>Ernesto Ochoa</td>
                            <td>6987-2145</td>
                            <td class="td-actions text-right">
                                <button type="button" rel="tooltip" class="btn btn-info">
                                    <i class="material-icons">person</i>
                                </button>
                                <button type="button" rel="tooltip" class="btn btn-success">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button type="button" rel="tooltip" class="btn btn-danger">
                                    <i class="material-icons">close</i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            
                            <td>Baltazar Valencia</td>
                            <td>12</td>
                            <td>852778</td>
                            <td>3º B</td>
                            <td>Mirna Valencia</td>
                            <td>7716-4415</td>
                            <td class="td-actions text-right">
                                <button type="button" rel="tooltip" class="btn btn-info">
                                    <i class="material-icons">person</i>
                                </button>
                                <button type="button" rel="tooltip" class="btn btn-success">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button type="button" rel="tooltip" class="btn btn-danger">
                                    <i class="material-icons">close</i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            
                            <td>Patrico Cuellar</td>
                            <td>16</td>
                            <td>456578</td>
                            <td>9º B</td>
                            <td>Maria Perez</td>
                            <td>2278-8854</td>
                            <td class="td-actions text-right">
                                <button type="button" rel="tooltip" class="btn btn-info">
                                    <i class="material-icons">person</i>
                                </button>
                                <button type="button" rel="tooltip" class="btn btn-success">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button type="button" rel="tooltip" class="btn btn-danger">
                                    <i class="material-icons">close</i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            
                            <td>Fernanda Rosales</td>
                            <td>12</td>
                            <td>426414</td>
                            <td>5º B</td>
                            <td>Rafael Rosales</td>
                            <td>2245-5455</td>
                            <td class="td-actions text-right">
                                <button type="button" rel="tooltip" class="btn btn-info">
                                    <i class="material-icons">person</i>
                                </button>
                                <button type="button" rel="tooltip" class="btn btn-success">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button type="button" rel="tooltip" class="btn btn-danger">
                                    <i class="material-icons">close</i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
               
            </div>
        </div>
    </div>
</div>